
.container {
    display: grid;
    justify-content: center;
    grid-template-columns: auto auto;
    
    padding: 10px; grid-column-gap: 50px;
   
  
  }
  .item{ 
     text-align:left; 
     margin-left: 90px;
    width: 350px;
    align-items: center; 
   
  }
  p{color: rgb(99, 99, 99);}

 
  

  